@model CoolAgenda.ViewModels.Compromisso.CadastrarVM
@{
    ViewBag.Title = "Cadastrar Compromisso";
}

<div class="modal-header">
    <h3>Novo Compromisso</h3>
</div>
<div class="modal-body">

    @using (Html.BeginForm("Cadastrar", "Compromisso", FormMethod.Post, new { id = "aaaa" }))
    { 
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.Edicao)
        @Html.HiddenFor(m => m.IdCompromisso)

        @Html.LabelFor(m => m.NomeCompromisso)
        @Html.TextBoxFor(m => m.NomeCompromisso)
        
        @Html.LabelFor(m => m.DataInicial)
        @Html.TextBoxFor(m => m.DataInicial)

        @Html.LabelFor(m => m.DataFinal)
        @Html.TextBoxFor(m => m.DataFinal)

        <input class="enviar" type="submit" value="Salvar" />
    }

    <form id="EventForm" class="well">
        <input type="hidden" id="eventID">
        <label>Nome</label>
        <input type="text" id="nomeEvento" placeholder="Digite o nome do Compromisso"><br />
        <label>Data Inicial</label>
        <input type="text" id="dataInicial"><br />
        <label>Data Final</label>
        <input type="text" id="dataFinal"><br />
        <label>Adicionar convidados</label>
        <input type="text" id="convidados" placeholder="Digite os endereços de E-mail"><br />
    </form>
</div>
<div class="modal-footer">
    <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancelar</button>
    <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Salvar</button>
</div>
