@model CoolAgenda.ViewModels.Compromisso.CadastrarVM
@{
    ViewBag.Title = "Cadastrar Compromisso";
}

<div class="modal-header">
    <h3>Novo Compromisso</h3>
</div>
<div class="modal-body">

    @using (Html.BeginForm("Cadastrar", "Compromisso", FormMethod.Post, new { id = "EventForm", @class = "well" }))
    {
        string display = ViewData.ModelState.IsValid ? "none" : "block";
        <div class="errorbox" id="validationSummary" style="display:@display; float: right; width: 45%">
            @Html.ValidationSummary()
        </div>
        // @Html.HiddenFor(m => m.Edicao)
        // @Html.HiddenFor(m => m.IdCompromisso)
        <div style="width: 50%;">
            @Html.LabelFor(m => m.NomeCompromisso, new { @style = "width:50%" })
            @Html.TextBoxFor(m => m.NomeCompromisso)

            @Html.LabelFor(m => m.DataInicial, new { @style = "width:50%" })
            @Html.TextBoxFor(m => m.DataInicial)

            @Html.LabelFor(m => m.DataFinal, new { @style = "width:100px" })
            @Html.TextBoxFor(m => m.DataFinal)
        </div>

    }
</div>
<div class="modal-footer">
    <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancelar</button>
    <input type="submit" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary" value="Salvar" form="EventForm" />
</div>


<style>
    .validation-summary-errors {
        margin-left:30px;
    }
    .errorbox {
        border: solid 1px red;
        padding: 5px 8px 5px 8px;
        text-align: left;
        vertical-align: middle;
        background-color: #F1E7D1;
    }

    .errorimage {
        padding: 5px 15px 5px 15px;
        background: #F1E7D1 url(/images/err-24x24.png) no-repeat;
        background-position: left center;
        vertical-align: middle;
        display: inline-block;
        height: 100%;
    }

    .errorhead {
        color: #CC0000;
        font-weight: bold;
        font-size: 15px;
        padding-left: 18px;
    }

    /********************************************************
VALIDAÇÕES
*********************************************************/

input[type="text"] .field-validation-error {
    color: #f00;
}

input[type="text"].field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

input[type="text"].validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

input[type="text"].validation-summary-valid {
    display: none;
}

</style>

<script>

    $(document).ready(function () {
        $(".infobox").prepend("<span class='infoimage'>&nbsp;</span>");
        $(".errorbox").prepend("<span class='errorimage'><span class='errorhead'>Ops, existem problemas</span></span>");
    });
</script>
