@model CoolAgenda.ViewModels.GrupoVM.GrupoIndexVM
@{
    ViewBag.Title = "Grupo";
}
<div id="paginas" style="width:97%; margin-left:auto;margin-right:auto;">

    <a href="@Url.Action("Form")">Novo</a>

    <h2>Grupo</h2>
    @{
        if (Model.TotalRegistros > 0)
        {
        
        <table>
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Editar</th>
                <th>Ativar/Inativar</th>
            </tr>
            @for (int i = 0; i < Model.ListaGrupo.Count; i++)
            {
                    
                <tr>
                    <td>@Model.ListaGrupo[i].Nome</td>
                    <td>@Model.ListaGrupo[i].CNPJ</td>
                    <td class="opcoes2">
                        <img class="no-border" src="../Imagens/editar.png" />@Html.ActionLink(" Editar", "Form", new { id = Model.ListaGrupo[i].IdGrupo })</td>
                    <td class="opcoes">
                        @if (Model.ListaGrupo[i].FlagAtivo.Equals("S"))
                        {
                            <img class="no-border" src="../Images/desativar.png" /><a href="#" onclick="DesativarRegistro(@Model.ListaGrupo[i].IdGrupo);"> Desativar</a>
                        }
                        else
                        {
                            <img class="no-border" src="../Images/ativar.png" /><a href="#" onclick="AtivarRegistro(@Model.ListaGrupo[i].IdGrupo);"> Ativar</a>
                        }
                    </td>

                </tr>
             
            }
        </table>
        
        }
        else
        {
        <p>Não existe nenhum registro cadastrado.</p>
        }
    }
    </table>     

</div>
