<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Cool Agenda</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="barrausuario">
            <ul id="menu">
                <li><a href="#">Nome da Pessoa</a></li>
                <li><a href="#">Sair</a></li>
            </ul>

        </div>
                @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/calendario")
        @RenderSection("scripts", required: false)
    </body>
</html>
