<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Cool Agenda</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/scripts")

    <script src="~/Scripts/moment.min.js" charset="UTF-8"></script>
    <script src="~/Scripts/fullcalendar.js" charset="UTF-8"></script>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
</head>
<body>
    @{
        var usuario = Session["Usuario"] as CoolAgenda.Models.Usuario;
            
        if (usuario != null)
        {       
        <div id="barrausuario">
            <ul id="menu">
                <li>@usuario.Nome</li>
                <li>@Html.ActionLink("Meus Dados","Index","Usuario")</li> 
                <li>@Html.ActionLink("Sair","Sair","Home")</li> 
            </ul>
        </div>
        }
    }
    
    <div class="container">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
