@model CoolAgenda.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Dados de Ativação de Cadastro";
}

<h2>Dados de Ativação de Cadastro</h2>


<h3>Por favor, confirme seus dados para ativação do cadastro.</h3>

@using(Html.BeginForm("AtivaCadastro","Usuario",FormMethod.Post))
{
    @Html.Label("E-mail: ")
    @Html.TextBoxFor(m => m.Email) <br />        
    
    @Html.Label("Senha: ")
    @Html.PasswordFor(m => m.Senha) <br />    
    
    @Html.HiddenFor(m => m.clicouAtivacao, new { @id = "clicouAtivacao" })
    
    <script>
        $("#clicouAtivacao").val(true);
    </script>
    
    <input type="submit" name="btOK" value="Ativar!" />
    
}

<br />
<br />


