@model CoolAgenda.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Usuário";
}

<h2>Usuário</h2>

<h1>Inserido com Sucesso! </h1>


    <table>
        @for (int i = 0; i < Model.ListaUsuario.Count; i++)
        {
            <tr>
                <td> 
                     @Html.LabelFor(m =>m.IdUsuario)
                     @Model.ListaUsuario[i].IdUsuario 
                </td>

                <td> 
                    @Html.LabelFor(m => m.Email)
                    @Model.ListaUsuario[i].Email                    
                </td>

                <td>
                     @Html.LabelFor(m => m.Nome)
                     @Model.ListaUsuario[i].Nome                 
                </td>                

                <td>
                    @Html.LabelFor(m => m.Senha)
                    @Model.ListaUsuario[i].Senha
                </td>

                <td>
                    @Html.LabelFor(m => m.Nivel)
                    @Model.ListaUsuario[i].Nivel
                </td>
            </tr>
        }
    </table>       




