@model CoolAgenda.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Usuário";
}

<div id="paginas">

    @{
        if (Model.Edicao)
        {
            ViewBag.Title = "Editar Dados";
        <h1>Editar Dados</h1>
        }
        else
        {
            ViewBag.Title = "Cadastre os Dados";
        <h1>Informe os Dados</h1>
        }
    }
    <h2>Usuário</h2>

    @using (Html.BeginForm("Form", "Usuario", FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.Edicao)
        @Html.HiddenFor(m => m.IdUsuario)
        
        if (!Model.Edicao) {         
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email) <br />
        }
        
        @Html.LabelFor(m=>m.Nome)
        @Html.TextBoxFor(m=>m.Nome)
        
        @Html.LabelFor(m => m.Senha)
        @Html.PasswordFor(m => m.Senha)
        
        @Html.Label("Confirme sua Senha")
        @Html.PasswordFor(m => m.Senha) <br />
        
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome) <br />
        
           
        if (Model.Nivel)
        {
            @Html.HiddenFor(m=>m.Ativo, new{@id="flgAtivo"})

        <script>
            $("#flgAtivo").val = "S";
        </script>
        }
        
        else{
            @Html.LabelFor(m => m.Ativo, new { @style = "display:inline; margin-left:2px" })
            <input type="checkbox" id="Ativo" /><br /><br />
            <script>
                if ($("#ativo").checked) {
                    $("#flgAtivo").val = "S";
                }
            </script>
        }
       
        <input type="submit" name="btOK" value="Salvar!" />
    }

    <span class="btn btn-default">@Html.ActionLink("Voltar", "Index")</span>

</div>