@model CoolAgenda.ViewModels.UsuarioVM
@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

@using(Html.BeginForm("Form","Usuario",FormMethod.Post))
{
    @Html.Label("E-mail: ")
    @Html.TextBoxFor(m => m.Email) <br />
        
    @Html.Label("Nome: ")
    @Html.TextBoxFor(m => m.Nome) <br />
    
    @Html.Label("Senha: ")
    @Html.PasswordFor(m => m.Senha) <br /> 
    
    @Html.Label("Usuário Administrador: ", new { @style = "display:inline; margin-left:10px" })
    @Html.CheckBoxFor(m => m.Nivel)        
    
    <input type="submit" name="btOK" value="Cadastrar!" />
}

<br />
<br />


