@model CoolAgenda.ViewModels.UsuarioFormVM
@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

@using(Html.BeginForm("Form","Usuario",FormMethod.Post))
{
    @Html.Label("E-mail: ")
    @Html.TextBoxFor(m => m.Email) <br />
        
    @Html.Label("Nome: ")
    @Html.TextBoxFor(m => m.Nome) <br />
    
    @Html.Label("Senha: ")
    @Html.PasswordFor(m => m.Senha) <br /> 

    <input type="submit" name="btOK" value="Cadastrar!" />
}

<br />
<br />

    <table>
        @for (int i = 0; i < Model.ListaUsuario.Count; i++)
        {
            <tr>
                <td> 
                     @Html.LabelFor(m =>m.IdUsuario)
                     @Model.ListaUsuario[i].IdUsuario 
                </td>

                <td> 
                    @Html.LabelFor(m => m.Email)
                    @Model.ListaUsuario[i].Email                    
                </td>

                <td>
                     @Html.LabelFor(m => m.Nome)
                     @Model.ListaUsuario[i].Nome                 
                </td>                

                <td>
                    @Html.LabelFor(m => m.Senha)
                    @Model.ListaUsuario[i].Senha
                </td>
            </tr>
        }
    </table>       

