@model CoolAgenda.ViewModels.UserVM.MeusDadosVM
@{
    ViewBag.Title = "MeusDados";
}

<div id="paginas">

    @using (Html.BeginForm("EditarNome", "Usuario", FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.IdUsuario)
        
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome)
    
        <input type="submit" name="btOK" value="Salvar!" />         
    }

@*    @using (Html.BeginForm("MudarSenha", "Usuario", FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.IdUsuario)
    
        @Html.LabelFor(m => m.SenhaAtual)
        @Html.PasswordFor(m => m.SenhaAtual)

        @Html.LabelFor(m => m.SenhaNova)
        @Html.PasswordFor(m => m.SenhaNova)
        <br />

        @Html.LabelFor(m => m.SenhaConfirmacao)
        @Html.TextBoxFor(m => m.SenhaConfirmacao)
        <br />
        
        <input type="submit" name="btOK" value="Salvar!" />
    }*@


    @Html.ActionLink("Voltar", "Index")


</div>
