@model CoolAgenda.ViewModels.UserVM.MeusDadosVM
@{
    ViewBag.Title = "MeusDados";
}

<div id="paginas">

    @using (Html.BeginForm("EditarNome", "Usuario", FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.IdUsuario)
        
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome)
    
        <input type="submit" name="btOK" value="Salvar!" />   
        <br />
        
        @Html.ActionLink("Alterar Senha", "MudarSenha")      
    }


    @Html.ActionLink("Voltar", "Index", "Agenda")


</div>
