@model CoolAgenda.ViewModels.NotaVM.NotaVM
@{
    ViewBag.Title = "Tarefa";
}

<div id="paginas">

    @{
        if (Model.Edicao)
        {
            ViewBag.Title = "Editar Nota";
        <h1>Edite os dados da Tarefa</h1>
        }
        else
        {
            ViewBag.Title = "Cadastrar Nota";
        <h1>Informe os dados da Tarefa</h1>
        }
    }
    <h2>Tarefa</h2>

    @using (Html.BeginForm("Form", "Nota", FormMethod.Post))
    {
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.Edicao)
        @Html.HiddenFor(m => m.IdNota)
        @Html.HiddenFor(m=>m.IdUsuario)
        @Html.HiddenFor(m=>m.IdCompromisso)

        @Html.LabelFor(m => m.Texto)
        @Html.TextBoxFor(m => m.Texto) <br />
        
        if (!Model.Edicao)
        {
            @Html.HiddenFor(m=>m.Ativo, new{@id="flgAtivo"})

        <script>
            $("#flgAtivo").val = "S";
        </script>
        }
        
        else{
            @Html.LabelFor(m => m.Ativo, new { @style = "display:inline; margin-left:2px" })
            <input type="checkbox" id="Ativo" /><br /><br />
            <script>
                if ($("#ativo").checked) {
                    $("#flgAtivo").val = "S";
                }
            </script>
        }
       
        <input type="submit" name="btOK" value="Salvar!" />
    }

    @Html.ActionLink("Voltar", "Index")

</div>
   

