@model CoolAgenda.ViewModels.NotaVM.NotaVM
@{
    ViewBag.Title = "Nota";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="bootstrap-dialog-header">
                <div class="bootstrap-dialog-close-button" style="display: block;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="bootstrap-dialog-title">Nota</div>
            </div>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm("Form", "Nota", FormMethod.Post, new { id = "notaForm" }))
            {
                @Html.ValidationSummary()

                @Html.HiddenFor(m => m.Edicao)
                @Html.HiddenFor(m => m.IdNota)
                @Html.HiddenFor(m => m.IdUsuario)
                @Html.HiddenFor(m => m.IdCompromisso)

                @Html.TextAreaFor(m => m.Texto, new { id = "notaTexto", @class = "form-control", @placeholder = "Digite a nota..." }) <br />
                
            }

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <input type="submit" id="btnNota" class="btn btn-primary" value="Salvar" form="notaForm"/>
    </div>
</div>
<!-- /.modal-content -->

<script>

    $(document).ready(function () {
        $('#btnNota').click(function (e) {
            alert("clicado");
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Form", "Nota")',
                data: $('#notaForm').serialize(),
                success: function (result) {
                    if (result.redirectTo) {
                        window.location.href = result.redirectTo;
                    } else {
                        $("#notaUsuario").html(result);
                    }
                },
                error: function () {

                }
            });
        });
    });

</script>
