@model CoolAgenda.ViewModels.ContatoVM
@{
    ViewBag.Title = "Contato";
}

<div id="paginas">

    @{
        if (Model.Edicao)
        {
            ViewBag.Title = "Editar Contato";
        <h1>Edite os dados do Contato</h1>
        }
        else
        {
            ViewBag.Title = "Cadastrar Contato";
        <h1>Informe os dados do Contato</h1>
        }
    }
    <h2>Contato</h2>


    @using(Html.BeginForm("Form","Contato",FormMethod.Post))
    {
        @Html.ValidationSummary()
        
        @Html.HiddenFor(m => m.Edicao)
        @Html.HiddenFor(m => m.IdContato)
        @Html.HiddenFor(m => m.IdUsuario)
    
        @Html.Label("Nome: ")
        @Html.TextBoxFor(m => m.Nome) <br />
        
        @Html.Label("E-mail: ")
        @Html.TextBoxFor(m => m.Email) <br /> 
        
        @Html.Label("Telefone Um: ")      
        @Html.TextBoxFor(m => m.telefoneUm, new { @class = "TELEFONE" })

        @Html.Label("Telefone Dois: ")      
        @Html.TextBoxFor(m => m.telefoneDois, new { @class = "TELEFONE" })
        
        @Html.Label("Endereço: ")
        @Html.TextBoxFor(m => m.Endereco) <br /> 
    
        <input type="submit" name="btOK" value="Cadastrar!" />
    }

    @Html.ActionLink("Voltar", "Index")

</div>

@section scripts 
{
    <script type="text/javascript">

        function ConfiguraMascaras() {
            $(".TELEFONE").mask("(00) 90000-0000");
        }
    </script>
}