@model CoolAgenda.ViewModels.ContatoVM
@{
    ViewBag.Title = "Contato";
}
<div id="paginas" style="width:97%; margin-left:auto;margin-right:auto;">

    <a href="@Url.Action("Form")">Novo</a>

    <h2>Contato</h2>
    @{
        if (Model.TotalRegistros > 0)
        {
        
        <table>
            <tr>
                <th>IdContato</th> 
                <th>IdUsuario</th> 
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
            </tr>
    
        @for (int i = 0; i < Model.ListaContato.Count; i++)
        {
            <tr>
                <td>@Model.ListaContato[i].IdContato</td>
                <td>@Model.ListaContato[i].IdUsuario</td>
                <td>@Model.ListaContato[i].Nome</td>                
                <td>@Model.ListaContato[i].Email</td>
                <td>@Model.ListaContato[i].Endereco</td>
                <td class="opcoes2">
                    <img class="no-border" src="../Imagens/editar.png" />@Html.ActionLink("Editar", "Form", new { id = Model.ListaContato[i].IdContato})</td>
            </tr>
             
            }
        </table>
        
        }
        else
        {
        <p>Não existe nenhum registro cadastrado.</p>
        }       
    }    
</div>

        
    