@model CoolAgenda.ViewModels.ContatoVM
@{
    ViewBag.Title = "Contato";
}
<div id="paginas" style="width:97%; margin-left:auto;margin-right:auto;">

    <a href="@Url.Action("Form")" class="Nova" ><img src="~/images/Novo.png" />Novo</a>

    <h2>Contato</h2>
    @{
        if (Model.TotalRegistros > 0)
        {
        <div class="Tabela">
        <table>
            <tr>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Data de Nascimento</th>
                <th>Editar</th>
                <th>Excluir</th>
                <th>Convidar</th>
            </tr>

        @{ int k=0;
           
            for (int i = 0; i < Model.ListaContato.Count; i++)
            {
                int c = 0;
                <tr>
                    <td>@Model.ListaContato[i].Nome</td>   
                    <td>@Model.ListaContato[i].Apelido</td>              
                    <td>@Model.ListaContato[i].Email</td> 

                    <td>
                        @if (Model.ListaTelefone != null && Model.ListaTelefone.Count != 0)
                        {                     
                            <ul style="list-style-type:none">           
                                @{                                    
                                    while (k < Model.ListaTelefone.Count && Model.ListaTelefone[k].IdContato < Model.ListaContato[i].IdContato)
                                        { 
                                           k++;
                                        }
                                        
                                        {                                        
                                            while (k < Model.ListaTelefone.Count && Model.ListaTelefone[k].IdContato == Model.ListaContato[i].IdContato)
                                            {
                                                <li style="">@Model.ListaTelefone[k].NumeroTelefone</li>
                                                if (c == 1) 
                                                {                                                     
                                                    {k++; break; }
                                                }
                                                else { c++; k++; }
                                            }                            
                                        }
                                }                                    
                             </ul>  
                        }
                         </td>                                                                    
                    <td>@Model.ListaContato[i].Endereco</td>
                    <td><span style="width: 110px; height: 20px; margin-left: 25px; display: block; overflow: hidden;">@Model.ListaContato[i].DataNascimento</span></td>

                <td class="opcoes2">
                    <img class="no-border" src="../Images/editar.png" />@Html.ActionLink("Editar", "Form", new { id = Model.ListaContato[i].IdContato})                    
                </td>
                <td>
                    @if (Model.ListaContato[i].Ativo.Equals("S"))
                   {
                        <img class="no-border" src="../Images/desativar.png" /><a href="#" onclick="DesativarRegistro(@Model.ListaContato[i].IdContato);"> Excluir</a>
                   }
                </td>
                <td>
                        <img class="no-border" src="../Images/Novo.png" />@Html.ActionLink("Convidar", "Convida", new { id = Model.ListaContato[i].IdContato})
                 </td>
            </tr>
        }
        }
        </table>
</div>
        }
        else
        {
        <p>Não existe nenhum registro cadastrado.</p>
        }       
   }    
</div>

@section scripts 
{
    <script type="text/javascript">

        // Armazena o id/codigo do registro a ser ativado/desativado
        var idRegistro;

        // Trata o evento onclick da opção de desativar um registro
        function DesativarRegistro(id) {            
            idRegistro = id;
            RequisitaDesativacaoRegServidor();                        
        }


        // Efetua uma requisição ao servidor pedindo para desativar um registro
        function RequisitaDesativacaoRegServidor() {            
            $.post('@Url.Action("Desativar")', { id: idRegistro }, function (data) {                                
                // Mostra uma notificação de acordo com a resposta do servidor                
                if (!data.Erro)                    
                    JSMostraNotificacaoSucesso(data.Mensagem, false, function () { location.reload(); });
            else                
                   JSMostraNotificacaoErro(data.Mensagem, true);
            });
        }


    </script>
        
    }
        

        
    